<ul class="sidebar-nav">
    <li><a href="/"> Home </a></li>

    <li><a href="/api/{{clientId}}/users"> Users </a></li>

    <li><a href="/api/{{clientId}}/positions"> Positions </a></li>

    <hr />
</ul>